@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    font-family: 'Zilla Slab', serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
section{
    display: flex;
    padding: 68px 48px;
}

/* nav css */
nav{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 14px 48px;
    background-color: brown;
    box-shadow: 0px 0px 22px 0px dimgray;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.logo{
    display: flex;
}
.logo img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.logo h1{
    color: lavenderblush;
    padding: 6px 0 0 12px;
}
.menu{
    display: flex;
    align-items: center;
}
.menu li{
    padding: 8px 12px;

}
.menu a{
    font-size: 16px;
    text-transform: uppercase;
    color: lavenderblush;
}
.menu li:hover{
    background-color: lavenderblush;
    border-radius: 5px;
    transition: all 0.3s linear;
}
.menu li:hover a{
    color: brown;
}

/* home css */
#home{
    background: url(images/shapes/Frame\ 59.jpg) left top no-repeat;
    background-size: cover;
}
.col-lg{
    width: 50%;
}
.col-lg img{
    width: 100%;
}
h1{
    font-size: 32px;
    font-weight: 600;
}
span{
    font-size: 48px;
    color: brown;
}
.pt{
    padding-top: 10em;
}
p{
    line-height: 28px;
    text-align: justify;
    padding-right: 5rem;
    font-weight: 500;
    color: dimgrey;
    margin-bottom: 36px;
    font-size: 18px;
}
.order-btn{
    display: block;
    float: right;
    text-transform: uppercase;
    padding: 12px 28px;
    border: 1px solid brown;
    border-radius: 5px;
    margin-right: 5em;
    transition: all 0.3s ease;
}
.order-btn:hover{
    background-color: brown;
    color: lavenderblush;

}

/* about css */
#about{
    display: block;
    margin-bottom: 40em;
}
.col-lg{
    float: left;
}
#about h1{
    font-size: 38px;
}
h2{
    font-size: 24px;
    margin-bottom: 10px;
}
h3{
    color: brown;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    width: 25%;
}
.point{
    list-style: circle;
    margin: 18px;
}
.point li{
    font-size: 18px;
    color: grey;
    line-height: 32px;
}
.fl{
    float: left;
}


/* service css */
#service{
    background: url(images/shapes/7.png) left top no-repeat;
    background-size: cover;
    display: block;
    padding: 70px 48px;
    text-align: center;
    background-attachment: scroll;


}
.text-center{
    text-align: center;
    padding: 0 20em;
}
.card{
    display: flex;
    justify-content: space-around;
}
.card-col{
    width: 30%;
    border-radius: 8px;
    box-shadow: 0px 4px 12px 0px darkgrey;
    padding: 28px 0;
    transition: all 0.3s ease-out;
}
.card-col img{
    width: 85%;
    height: 250px;
    border-radius: 8px;
    transform: scale(0.9);
    transition: all 0.3s ease-in;
}
.card-col p{
    padding: 0 46px;
    text-align: justify;
}
.card-col a{
    float: none;
    display: table;
    margin: auto;
}
.active-card{
    transform: translateY(-15px);
}
.active-card img{
    transform: scale(1);
}
.card-col:hover{
    transform: translateY(-15px);
}
.card-col:hover img{
    transform: scale(1);
}


/* contact css */
#contact{
    flex-direction: column;
    text-align: center;
}
form{
    background: url(images/shapes/contact-bg.jpg) left top no-repeat;
    background-size: cover;
    padding: 40px 0;
    width: 60%;
    margin: auto;
    border-radius: 8px;
    background-attachment: fixed;
}
.form-group{
    padding: 8px;
    margin: 8px;
    border: 1px solid darkgrey;
    border-radius: 5px;
}
input{
    width: 40%;
    border-style: none;

}
textarea{
    width: 85%;
    resize: none;

}
.form-btn{
    width: 20%;
    float: none;
    display: inline-block;
    margin: 0 5px;
    border-radius: 30px;
    font-weight: 700;
}


/* footer css */
footer{
    background-color: brown;
    padding: 32px 0 90px 0;
    text-align: center;
    margin-top: 80px;
}
footer h1{
    margin-bottom: 22px;
}
footer span, footer p{
    color: lavenderblush;
}
